* {
  box-sizing: border-box;
}

body {
  /* Изменил фон с сплошного цвета на изображение */
  background-image: url(https://look.com.ua/pic/201209/1920x1080/look.com.ua-16951.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 400px;
}

.square {
  width: 16px;
  height: 16px;
  background: #1d1d1d;
  margin: 2px;
  box-shadow: 0 0 2px #000;
  transition: 2s ease;
}

.square:hover {
  transition-duration: 0s;
}